p{
    display: inline;
    display: block;
    display: inline-block;
}
body,
p {
  margin: 0;  
}
p {
  display: inline;
}

div{
    display: block;
    border: 6px outset blueviolet;
    border: 6px inset blueviolet;
    border: 6px groove blueviolet;
    border: 6px ridge blueviolet;
    border-style: dotted dashed solid double;
    border-bottom: 6px solid #949599;
    border-bottom-width: 12px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    width: 400px;
    border-radius: 5px;

  border-radius: 50%;

  border-radius: 15px 75px;
  box-sizing: padding-box;
  box-sizing: border-box;
  /* Generally speaking, the best box-sizing value to use is border-box. */
}

/* div {
    display:inline;
    border: 6px inset blueviolet;
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
            /* the most common vendor prefixes are outlined here:

                Mozilla Firefox: -moz-
                Microsoft Internet Explorer: -ms-
                Webkit (Google Chrome and Apple Safari): -webkit- 
  }
   */
                